@model List<List<string>>
@{
    ViewData["Title"] = "Table of users";
}

<div class="container">
    <table class="table table-bordered border-primary table-dark">
        <thead>
        <tr>
            @{
                foreach (var column in Model[0])
                {
                    <th scope="col">@column</th>
                }
            }
        </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model[1].Count / Model[0].Count; i++)
                { 
                    int k = 1;
                    <tr>
                        @{
                            for (int j = i * 2 + i; j < Model[1].Count; j++)
                            {
                                var row = Model[1][j];
                                <td>@row</td>
                                if (k == 3)
                                    break;
                                k++;
                            }
                        }
                    </tr>
                }
            }
        </tbody>
</table>
</div>
