@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Authorization window</h1>
    <form method="POST" action="Home/">
        <div>
            <label for="username">Type username  </label>
            <input type="text" name="username" required/>
        </div>
        <div>
            <label for="password">Type password  </label>
            <input type="password" name="username" required/>
        </div>
        <input type="submit"/>
    </form>
</div>

