@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <h1>Authorization window</h1>
    <form method="post"  asp-controller="User" asp-action="Login">
        <label>Type username</label>
        <input type="text" name="username" required/>
        <label>Type password</label>
        <input type="password" name="password" required/>
        <input type="submit" value="Submit"/>
    </form>
</div>

